.loginContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 32px;
    margin: 50px 0 50px 0;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    position: relative;
}

.passwordRow {
    position: relative; 
}

.showPasswordIcon {
    position: absolute;
    top: 70%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer; 
    width: 20px; 
    height: 20px;
}

.loginButton {
    background-color: #ffd700;
    color: #000;
    border: none;
}

.simpleLogin {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: 50px 0 30px 0;
}

.simpleLoginText {
    font-size: 14px; 
    color: #666; 
    font-weight: bold; 
}

.separator {
    flex: 1; 
    border: none; 
    height: 1px; 
    background-color: #ddd; 
}

.saveEmailRow {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.saveEmailCheckbox {
    margin-left: 5px;
    width: 16px; 
    height: 16px; 
    vertical-align: middle;
}


.saveEmailLabel {
    font-size: 14px; 
    color: #666;
    line-height: 1;
}

.socialLogin {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialButton {
    width: 180px; 
    height: 45px; 
    cursor: pointer; 
}

.signupPrompt {
    margin-top: 30px;
    font-size: 14px;
}

.signupLink {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}