.Table_wrap {
  margin-top: 50px;
}

.content_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1080px;
  margin: 0 auto;
}

.none_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 10px;
  height: 280px;
}

.alertImg {
  width: 50px;
  height: 50px;
}

.p1 {
  padding-top: 10px;
  font-size: 20px;
}

.p2 {
  color: #838383;
  font-size: 17px;
}

.none_wrap button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #ffe300;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.button_box {
  display: flex;
  justify-content: right;
  align-items: center;
}

.button {
  border: none;
  background-color: #000;
  padding: 10px;
  color: #ffd700;
  width: 150px;
}

.bookmark_button {
  border: solid 2px #000;
  background-color: #ffffff;
  padding: 10px;
  color: #000;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.checkbox_box {
  display: flex;
  align-items: center;
  width: 30px;
}

.bookmark_buttons_wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 150px;
}

.total_delete {
  width: 100px;
  background-color: #ffffff;
  font-size: 16px;
  color: #838383;
}

.totalprice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef3c7;
  margin: 20px 0;
  padding: 20px 0;
  border-radius: 5px;
}
