@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}

html,
body,
#root {
  height: 100%;
  font-family: 'GmarketSansMedium', Arial, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1;
  margin-top: 120px;
  margin-bottom: 100px;
}

button {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
  font-family: 'GmarketSansMedium';
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

Label {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.Toastify__toast-container {
  position: fixed;
  top: 10%;
}

.Toastify__close-button {
  position: absolute;
  left: 43%;
  top: 55%;
  transform: translateY(-50%);
}

.Toastify__toast-icon{
  left: 43%;
}
/* toast confirm custom */

