.body {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
}

.h1 {
}

.buttonContainer {
  display: flex;
  gap: 80px;
}

.button {
  margin: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #ffacac;
}

.faqContainer {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.faqFAQ {
  text-align: center;
}

.h2 {
  text-align: center;
}

.tabs {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.menuList {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.menu {
}

.pannel {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
}
